.aircraft {
  margin-top: auto;

  .header {
    margin-left: 5px;
    margin-top: auto;

    a {
      margin-left: 2px;
      font-size: 10px;
      font-style: italic;
    }
  }

  .ribbon {
    display: flex;
    background-color: rgba(0, 0, 0, .3);
    padding: 0 10px;
  }

  .cycle {
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    overflow: hidden;

    div {
      overflow: hidden;
      position: absolute;
      font-size: 20px;
      white-space: nowrap;
      opacity: 0;

      animation: topToBottom 20s linear infinite 0s;
      -webkit-animation: topToBottom 20s linear infinite 0s;
      -moz-animation: topToBottom 20s linear infinite 0s;
      -ms-animation: topToBottom 20s linear infinite 0s;

      transform: translateY(50px);
      -webkit-transform: translateY(50px);
      -moz-transform: translateY(50px);
      -ms-transform: translateY(50px);

      .next-aircraft {
        // todo hide on small
      }

      &:nth-child(2) {
        animation-delay: 5s;
        -webkit-animation-delay: 5s;
        -moz-animation-delay: 5s;
        -ms-animation-delay: 5s;
      }

      &:nth-child(3) {
        animation-delay: 10s;
        -webkit-animation-delay: 10s;
        -moz-animation-delay: 10s;
        -ms-animation-delay: 10s;
      }

      &:nth-child(4) {
        animation-delay: 15s;
        -webkit-animation-delay: 15s;
        -moz-animation-delay: 15s;
        -ms-animation-delay: 15s;
      }
    }

    @keyframes topToBottom {
      0% {
        opacity: 0;
        transform: translateY(0px);
      }
      1% {
        opacity: 1;
        transform: translateY(0px);
      }
      20% {
        opacity: 1;
        transform: translateY(0px);
      }
      25% {
        opacity: 0;
        transform: translateY(50px);
      }
      100% {
        opacity: 0;
        transform: translateY(50px);
      }
    }

    @-webkit-keyframes topToBottom {
      0% {
        opacity: 0;
        -webkit-transform: translateY(0px);
      }
      1% {
        opacity: 1;
        -webkit-transform: translateY(0px);
      }
      20% {
        opacity: 1;
        -webkit-transform: translateY(0px);
      }
      25% {
        opacity: 0;
        -webkit-transform: translateY(50px);
      }
      100% {
        opacity: 0;
        -webkit-transform: translateY(50px);
      }
    }

    @-moz-keyframes topToBottom {
      0% {
        opacity: 0;
        -moz-transform: translateY(0px);
      }
      1% {
        opacity: 1;
        -moz-transform: translateY(0px);
      }
      20% {
        opacity: 1;
        -moz-transform: translateY(0px);
      }
      25% {
        opacity: 0;
        -moz-transform: translateY(50px);
      }
      100% {
        opacity: 0;
        -moz-transform: translateY(50px);
      }
    }

    @-ms-keyframes topToBottom {
      0% {
        opacity: 0;
        -ms-transform: translateY(0px);
      }
      1% {
        opacity: 1;
        -ms-transform: translateY(0px);
      }
      20% {
        opacity: 1;
        -ms-transform: translateY(0px);
      }
      25% {
        opacity: 0;
        -ms-transform: translateY(50px);
      }
      100% {
        opacity: 0;
        -ms-transform: translateY(50px);
      }
    }
  }

  .stats {
    font-size: 20px;
    white-space: nowrap;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    overflow: hidden;
    min-width: fit-content;

    span {
      margin-left: 5px;
    }

    @media only screen and (max-width: 500px) {
      display: none;
    }
  }
}
