html {
  height: -webkit-fill-available;

  body {
    display: flex;
    min-height: 100%;
  }

  div {
    display: flex;
  }
}

body {
  margin: 0;
  font-family: "EB Garamond", sans-serif;
  color: #ffffff;

  .bg-image {
    height: 100vh;
    height: -webkit-fill-available;
    height: -moz-available;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }

  .bg-image:before, .bg-image:after {
    background-size: cover;
    background-position: center center;

    //@media only screen and (max-width: 768px) {
    //  background-size: 200%;
    //  background-position: center top;
    //}
    //
    //@media only screen and (max-width: 550px) {
    //  background-size: 400%;
    //}
  }

  main {
    height: 100%;
    height: -webkit-fill-available;
    display: flex;
    flex-direction: column;
  }
}