html {
  height: var(--vh, 100vh);

  body {

    .bg-image {
      height: var(--vh, 100vh);
    }
  }
}

body {
  margin: 0;
  font-family: "EB Garamond", sans-serif;
  color: #ffffff;

  .bg-image {
    width: 100vw;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }

  .bg-image:before, .bg-image:after {
    background-size: cover;
    background-position: center center;

    //@media only screen and (max-width: 768px) {
    //  background-size: 200%;
    //  background-position: center top;
    //}
    //
    //@media only screen and (max-width: 550px) {
    //  background-size: 400%;
    //}
  }

  main {
    height: 100%;
    display: flex;
    flex-direction: column;
  }
}