@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "EB Garamond", sans-serif;
  color: #ffffff;
  background-color: #3478a9;
}

a {
  text-decoration: none;
  color: #ffffff;

  &:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}

svg {
  fill: #ffffff;
}